[Desktop Entry]
Type=Application
Name=Thémo
GenericName=Générateur de design système
Comment=Créer un design système et l'exporter en fichier CSS
Exec=python3 @INSTALL_DIR@/themo.py
Path=@INSTALL_DIR@
Icon=applications-graphics
Terminal=false
Categories=Development;WebDevelopment;GTK;
Keywords=css;design;system;tokens;theme;
